*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  text-align: center;
  height: 100vh;
}

h1{
 margin-top: 0;
 color: red;
 font-style: oblique;
 font-weight: 600; 
 text-shadow: 10px 10px 5px darkgray;
 background-color: bisque;
 font-size: 65px;
}
#wrapper{
  position: relative;
  background-color: #45bb32cc;
  font-size: 35px;
  width: 80%;
  margin: 0px auto;
  padding: 25px 0px;
  text-transform: uppercase;
  margin-top: 120px;
  border-radius: 10px;
}
p{
  text-align: center;
}

#guessField{
  color: black;
  width: 50%;
  height: 48px;
  font-size: 30px;
  margin-top: 30px;
  border-radius: 12px;
  outline: none;
  text-align: center;
}

#subt{
  width: 100px;
  height: 30px;
  font-size: 18px;
  text-transform: uppercase;
  font-style: oblique;
  font-weight: 600;
  color: white;
  background-color: red;
  border-radius: 10px;
  outline: none;
  margin-top: 20px;
}

#subt:hover{
  background-color: white;
  color: red;
  cursor: pointer;
}

.guesses{
  color: white;
  background-color: rgb(11, 93, 247);
}

.lastResult{
  color: white;
  background-color: red;
  /* width: 20%; */

}

button{
  background-color: #cc3245;
  color: white;
  height: 40px;
  border-radius: 15px;
  font-size: 18px;
  margin-top: 20px;
}
